In [128]:
import pandas as pd

In [129]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

# Exploration

In [130]:
df_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [131]:
#"YearBuilt" --> no modif , 'FullBath' --> no modif, 'OverallQual' --> lost 8%,  'GarageCars' --> lost 8% , 'TotalBsmtSF' --> lost 10%,  
x_train = df_train[['GrLivArea', "TotalBsmtSF", 'FullBath', 'YearBuilt', 'OverallQual', 'GarageCars']]
y_train = df_train['SalePrice']
x_train

      GrLivArea  TotalBsmtSF  FullBath  YearBuilt  OverallQual  GarageCars
0          1710          856         2       2003            7           2
1          1262         1262         2       1976            6           2
2          1786          920         2       2001            7           2
3          1717          756         1       1915            7           3
4          2198         1145         2       2000            8           3
...         ...          ...       ...        ...          ...         ...
1455       1647          953         2       1999            6           2
1456       2073         1542         2       1978            6           2
1457       2340         1152         2       1941            7           1
1458       1078         1078         1       1950            5           1
1459       1256         1256         1       1965            5           1

[1460 rows x 6 columns]

# Preprocessing

## Dummy values

In [132]:
def get_dummies(df, col_name, list_values, prefix):
    for value in list_values:
        new_col_name = prefix + value
        df[new_col_name] =(df[col_name] == value).astype(int)
    del df[col_name]
    return df

In [133]:
# x_train = get_dummies(x_train, 'Foundation', ['BrkTil', 'CBlock', 'PConc', 'Slab', 'Stone', 'Wood'], "Is_")
# x_train = get_dummies(x_train, 'CentralAir', ['Y','N'], "Is_")
# x_train = get_dummies(x_train, 'Utilities', ['AllPub', 'NoSewr', 'NoSeWa', 'ELO'], "Has_")
x_train

      GrLivArea  TotalBsmtSF  FullBath  YearBuilt  OverallQual  GarageCars
0          1710          856         2       2003            7           2
1          1262         1262         2       1976            6           2
2          1786          920         2       2001            7           2
3          1717          756         1       1915            7           3
4          2198         1145         2       2000            8           3
...         ...          ...       ...        ...          ...         ...
1455       1647          953         2       1999            6           2
1456       2073         1542         2       1978            6           2
1457       2340         1152         2       1941            7           1
1458       1078         1078         1       1950            5           1
1459       1256         1256         1       1965            5           1

[1460 rows x 6 columns]

## Enum str => int

In [134]:
qualityDict = {"Ex" : 4, "Gd" : 3, "TA" : 2, "Fa" : 1, "Po" : 0}
def get_qualitative(df, col_name, qualiDict):
    df[col_name] = df[col_name].map(qualityDict)
    return df

In [135]:
# x_train = get_qualitative(x_train, 'KitchenQual', qualityDict)
# x_train = get_qualitative(x_train, 'ExterQual', qualityDict)
# x_train

# Model

In [136]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
x_train_scaled = preprocessing.scale(x_train)
clf = LinearRegression()
clf.fit(x_train_scaled, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [137]:
y_train_pred = clf.predict(x_train_scaled)
print(y_train_pred)

[215741.0985294  173756.33212169 221045.42295101 ... 222934.56046707
 120024.34532698 139892.45937388]

In [138]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_train, y_train_pred)

0.7686473354220851